*.exe
*.test
*.prof
.idea/
*.iml
*.pem
.DS_Store

logs/
config.json
vendor/
client/dist/
!client/dist/webfiles.go
client/node_modules/
web/swagger/
.vs/
www/

operations/spongedl/cache/
operations/spongedl/mods/
operations/spongedl/*.jar

favicon.ico
.dotnet/
.wix/
/SkyPanel.msi
/SkyPanel.wixpdb

# Binarios y archivos grandes
binaries/
SkyPanel
SkyPanel
skypanel
*.jar
*.zip
*.so
cache/
client-v1.zip
client.zip
servers/*/bedrock_server
servers/*/*.jar
servers/*/bedrock-server-*.zip

*.mca
servers/
